@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
    font-family: 'Patrick Hand', cursive;
    background: url(https://images.unsplash.com/photo-1602478562449-abf35dbea243?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
    padding: 100px 0;

}

.conteiner{
    width: 800px;
    min-height: 420px;
    border: 10px solid rgb(187,224,245) ;
    margin: 0 auto;
    background: rgb(187,224,245);
}

.header{
    display: flex;
    height: 150px;

}

.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 30px;
    background: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTgzfHxjb2RlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat center / cover ;
    color: white;
    margin-right: 10px;

}

.userpic{
    display: flex;
    width: 20%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/41/9d/54/419d5479ec3c3d495cefca011277da16.jpg) no-repeat center / cover;
    
}

.nav ul {
    display: flex;
    background: rgb(193, 233, 245);
    margin: 10px;

}

.nav li {

}

.nav li a {
    padding: 20px;
    display: flex;
    text-decoration: none;
    color: rgb(8, 82, 102);
    font-weight: bold;
    border-right: 1px solid rgb(66, 181, 212);


}

.nav li a:hover{
    background: rgb(121, 183, 201);
    transition: background 0.3 ease;
}

.content-wrapper{
    display: flex;
}

.content{

}